@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-mainbg: #2c8dd6;
  --color-secondary: hsl(220 14.3% 95.9%);
  --color-primary: hsl(0 0% 100%);
}

@layer base {
  html {
    font-family: "Google Sans", sans-serif;
  }

  body {
    @apply bg-secondary;
  }
}
